/*Login*/
table#wrapper table#loginwrapper td:hover{
	background:none;
}

/*Drag and Drop*/
.go_backend_layout_droppables_position{
	z-index:999999;
	position:relative;
	margin-bottom:4px;
	border:2px dashed #adafba;
}
.go_backend_layout_droppables_position_act{
	z-index:999999;
	position:relative;
	margin-bottom:4px;
	border:2px solid #ff7e00;
}
/*D&D - Fix for Contextmenü*/
div#contentMenu0{
	z-index:9999999;
}


/*Level 1*/
/*
table table td:hover table.lrPadding td,
table td:hover table.lrPadding td:hover,
table table td:hover{
	background:#f7f7f7;
}
table.typo3-TCEforms td:hover,
table table table td:hover{
	background:none;
}
*/

/*Level 2*/
/*
table table td.templavoila_pi1 table td:hover table.lrPadding td,
table table td.templavoila_pi1 td:hover table.lrPadding td:hover,
table table td.templavoila_pi1 table td:hover{
	background:#ebf3ff;
}
table table td.templavoila_pi1 table.trans td:hover,
table table td.templavoila_pi1 table table td:hover{
	background:none;
}
*/

/*Level 3*/
/*
table table td.templavoila_pi1 table td.templavoila_pi1 table td:hover table.lrPadding td,
table table td.templavoila_pi1 table td.templavoila_pi1 td:hover table.lrPadding td:hover,
table table td.templavoila_pi1 table td.templavoila_pi1 table td:hover{
	background:#edffeb;
}
table table td.templavoila_pi1 table td.templavoila_pi1 table.trans td:hover,
table table td.templavoila_pi1 table td.templavoila_pi1 table table td:hover{
	background:none;
}

td.templavoila_pi1{
	padding-left:2px;
}
table table td.templavoila_pi1 table.beTemplateCell td.go_backend_layout_header:hover,
table table td.templavoila_pi1 table td.templavoila_pi1 table.beTemplateCell td.go_backend_layout_header:hover,*/
td.go_backend_layout_header,
td.go_backend_layout_header:hover{
	color:#000000;
	font-size:11px;
	font-weight:bold;
	background-color:#f8f9fb;
	padding:4px;
	border:1px solid #CCCCCC;
}


/*Label CSS for Flexforms*/
td.templavoila_pi1 .go_backend_layout_flex_ce_label{
	display:block;
	position:relative;
	left:0px;
	width:auto;
	margin:0px;
	text-align:center;
	padding:2px;
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	border:1px solid #FFFFFF;
	background-color:#d1e8ff;
}

td.templavoila_pi1  td.templavoila_pi1 .go_backend_layout_flex_ce_label{
	background-color:#90EE90;
}


/*Label CSS for Standard CE*/
.go_backend_layout_standard_ce_label{
	margin:2px;
	padding:2px;
	border:1px solid #bfbfbf;
	background-color:#FFFFFF;
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
}


/*Label CSS for Shortcut CE*/
.go_backend_layout_shortcut_ce tr.go_backend_layout_ce_header td,
.go_backend_layout_shortcut_ce tr.go_backend_layout_ce_header td:hover,
.go_backend_layout_shortcut_ce .go_backend_layout_shortcut_ce tr.go_backend_layout_ce_header td:hover{
	background:#fee5ff;
}


/*tt_news*/
td.list table.typo3-dblist{
	width:100%;
	border:none;
	padding:0px 5px 0px 5px;
}

td.list a.newWizard{
	position:relative;
	top:-19px;
	left:6px;
}
td.list table.typo3-dblist tr.c-headLineTable{
	display:none;
}
td.list table.typo3-dblist tr td.col-control,
td.list table.typo3-dblist tr td div.typo3-DBctrl{
	width:128px;
	min-width:128px;
}
td.list table.typo3-dblist tr td{
	border-left:1px solid #CCCCCC;
	white-space: normal; /* fix for the bug db-list, see ticket #6001 */
}
td.list table.typo3-dblist tr td:first-child,
td.list table.typo3-dblist tr td.col-control-space,
td.list table.typo3-dblist tr.c-headLine td.col-control,
td.list .db_list_normal td.col-control{
	border:none;
}

td.list table.typo3-dblist tr.c-headLine td.col-icon a{
	display:inline;
}
td.list table.typo3-dblist tr.c-headLine td.col-title a {
	display:inline;
}

td.list div.list_options_header,
td.list div.list_options{
	padding:5px;
}

td.list div.list_options_header{
	font-weight:bold;
}

td.list div.list_options{
	border-bottom:1px solid #000000;
}
td.list div.list_options a{
	line-height:20px;
}

td.list div.list_options span{
	color:#555555;
}





/*Header*/
td.templavoila_pi1 td.templavoila_pi1 td.header:hover,
td.templavoila_pi1 td.header:hover,
td.header:hover,
td.header
{
	height:auto;
	background-image:url(images/pageview_header.png);
	background-repeat:no-repeat;
	background-position:right top;
	vertical-align:bottom;
	padding-left:2px;
}

/*Text*/
td.templavoila_pi1 td.templavoila_pi1 td.text:hover,
td.templavoila_pi1 td.text:hover,
td.text:hover,
td.text
{
	height:auto;
	background-image:url(images/pageview_text.png);
	background-repeat:no-repeat;
	background-position:right top;
	vertical-align:bottom;
	padding-left:2px;
}

/*Textpic*/
td.templavoila_pi1 td.templavoila_pi1 td.textpic:hover,
td.templavoila_pi1 td.textpic:hover,
td.textpic:hover,
td.textpic
{
	height:auto;
	background-image:url(images/pageview_textpic.png);
	background-repeat:no-repeat;
	background-position:right top;
	vertical-align:bottom;
	padding-left:2px;
}

/*Bullets*/
td.templavoila_pi1 td.templavoila_pi1 td.bullets:hover,
td.templavoila_pi1 td.bullets:hover,
td.bullets:hover,
td.bullets
{
	height:80px;
	background-image:url(images/aufzaehlung.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	vertical-align:bottom;
	padding-left:2px;
}

/*Table*/
td.templavoila_pi1 td.templavoila_pi1 td.table:hover,
td.templavoila_pi1 td.table:hover,
td.table:hover,
td.table
{
	height:58px;
	background-image:url(images/table.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	vertical-align:bottom;
	padding-left:2px;
}

/* Backend style optimizing for TYPO3 Version 4.4.x */
#ext-templavoila-mod1-index-php{
	font-size:0.6em;
}
#ext-templavoila-mod1-index-php br{
	line-height:5px;
}
.go_backend_layout_droppables_position{
	position:relative;
	border:1px dashed #adafba;
}
.go_backend_layout_droppables_position_act{
	position:relative;
	border:1px solid #ff7e00;
}

/* Pagenavigation */
ul#treeRoot li.active div.treeLinkItem{
	background-color: #D8D8D8;
}

/* Backend style optimizing for TYPO3 Version 4.5.x */
/* Element style */
table.go_backend_layout_draggable {
	border:none;
    background: #ddd;
	padding: 5px 5px 0px 5px;
	margin-bottom:8px;
    -webkit-box-shadow: 3px 2px 5px #aaa;
    -moz-box-shadow: 3px 2px 5px #aaa;
    box-shadow: 3px 2px 5px #aaa;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/* Element style for Container*/
#ext-templavoila-mod1-index-php{
	background-color: #F8F8F8;
}
table#templavoila_pi1{
	background: #F8F8F8;
}

/* Wizardlist setting */
table#typo3-ceWizardTable tr td{
	padding:8px 0px 8px 8px;
}

/*Wizard*/
body#ext-templavoila-mod1-db-new-content-el-php{
	padding:5px;
}

div h1.wizardListCEHeader{
	font-size:1.2em;
	font-weight:bold;
	color:#FFFFFF;
	text-align:left;
	background-color:#3F3F3F;
	padding:16px;
	box-shadow: 3px 2px 5px #aaa;
	border-radius: 7px;
	line-height:18px;
}

div h1.wizardListCEHeader span{
	font-size:0.7em;
}

div h1.wizardListCEHeader img{
	position:relative;
	top:3px;
}

table#typo3-ceWizardTable tr.wizardHeadline td{
	font-size:1.2em;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#3F3F3F;
	text-align:center;
	padding:4px;
	box-shadow: 3px 2px 5px #aaa;
	border-radius: 7px;
}

table#typo3-ceWizardTable tr.wizardHeadline td img{
	display:inline;
}



/*
 * Sticky Notes
 */
#sticky-container {
	position: relative;
	height:100%;
	background-color: rgba(0,0,0, .8);
}

#sticky-container div.button {
	cursor:pointer;
	position:fixed;
	top:5px;
	right:5px;
	margin:0px;
	padding:4px 10px 4px 26px;
	border-color:#EEEEEE #DEDEDE #DEDEDE #EEEEEE;
	border-style:solid;
	border-width:2px;
	font-weight:bold;
	color:#000000;
	background:url(res/notesIcon.png) 4px 4px no-repeat;
	background-color:#dde9ff;
	box-shadow: 3px 2px 5px #aaa;
	border-radius: 7px;
}

#sticky-container div.button:hover {
	color:#FFFFFF;
	background-color:#000000;
}

#sticky-container textarea {
	outline: 0 none;
	background-color:transparent;
	border:none;
	font-family: 'Comic Sans MS',Textile,cursive;
	font-size:16px;
	overflow:hidden;
	color:#999;
	padding:15px 20px 0px 24px;
	float:left;
}

#sticky-container p {
	height:100%;
	font-family: 'Comic Sans MS',Textile,cursive;
	font-size:16px;
	overflow:hidden;
	padding:15px 20px 0px 24px;
	display:block;
	color:#444;
}

.stretch {
	width:100%;
	height:100%;
	z-index:0;
}

/* import */
.jSticky-large{
	width:225px;
	height:228px;
	position: absolute;
	z-index:999999;
}
.jSticky-medium{
	width:160px;
	height:162px;
	position: absolute;
	z-index:999999;
	border:1px solid #000000;
	background:#dde9ff;
	box-shadow: 3px 2px 5px #aaa;
	border-radius: 7px;
}
.jSticky-delete[class]{
	background:transparent url(res/notesClose.png) no-repeat top left;
	height:20px;
	width:20px;
	position:absolute;
	cursor:pointer;
	z-index:4;
}
* .jSticky-delete{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='res/notesClose.png');
	height:20px;
	width:20px;
	position:absolute;
	cursor:pointer;
	z-index:4;
}
.jSticky-medium .jStickyNote textarea, .jSticky-medium .jStickyNote p{
	font-size: 16px;
	line-height:20px;
	font-weight:bold;
}
.jSticky-large .jStickyNote textarea, .jSticky-large .jStickyNote p{
	height:160px;
	font-size: 16px;
}

.jStickyNote {
	cursor :move;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	height:90%;
	overlay:hidden;
	width:100%;
}

.jSticky-medium .ui-icon {
	right:0px;
	bottom:0px;
	width:13px;
	height:13px;
	background-image: url(res/notesResize.png);
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	z-index: 99999;
	display: block;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0px;
	height: 100%;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0px;
}