/**
 * base_fest.css
 * --- Gosign media. ---
 * version 1.0
 * (c) Copyright 2011 Gosign media. All Rights Reserved.
 * 2011-09-12
 */

body,
div,dl,dt,dd,ul,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,
p,th,td {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,var {font-style: normal;font-weight: normal;}
ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}


a {outline: none;}
a:link,
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}


body {
	background-color: #F8EEDE;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%;
	color: #333333;
}

#outer {
	padding: 0px;
	margin: 0px;
}

#container {
	margin: 0 auto;
	background: #F8EEDE;
	overflow: hidden;
	width: 950px;
	padding: 0px;
	position: relative;
}

#header {
	background: #CC0000;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#logo {
	display: block;
	height: 155px;
}

.logo {
	display: block;
}

#breadcrumb li {
	float: left;
}

#service_menu li {
	float: left;
}

.hidden {
	display: none;
}

.clearall:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearall {
	display: inline-table;
}