/**
 * contentteiler.css
 * --- Gosign media. ---
 * version 1.0
 * (c) Copyright 2011 Gosign media. All Rights Reserved.
 * 2011-09-12
 */

/**
 * Contentteiler - 2 columns table
 */

table.contentteiler2 {
	display: block;
}

table.contentteiler2 tr td {
	width: 50%;
	overflow: hidden;
}

table.contentteiler2 tr td.left {
	padding-right: 5px;
}

table.contentteiler2 tr td.right {
	padding-left: 5px;
}

/**
 * Header
 */

table.contentteiler2 tr td div.csc-header {
	width: 214px;
	overflow: hidden;
	display: block;
}

/**
 * Image module
 */

table.contentteiler2 tr td.left div.csc-textpic-left {
	display: block;
	float: left;
	width: 202px;
	margin-right: 11px;
	overflow: hidden;
}

table.contentteiler2 tr td.right div.csc-textpic-left {
	display: block;
	float: right;
	width: 202px;
	margin-left: 12px;
	overflow: hidden;
}

*+html table.contentteiler2 tr td.right div.csc-textpic-left {
	margin-left: 6px;
}

*html table.contentteiler2 tr td.right div.csc-textpic-left {
	margin-left: 1px;
}

table.contentteiler2 tr td.right div.csc-textpic-left div.csc-textpic-text {
	width: 202px;
}

/**
 * Caption gap to the image
 */

table.contentteiler2 tr td div.csc-textpic-left div.csc-textpic-text {
	padding-top: 2px;
}

*+html table.contentteiler2 tr td div.csc-textpic-left div.csc-textpic-text {
	padding-top: 7px;
}


/**
 * Contentteiler - 3 columns table
 */

table.contentteiler3 {
	display: block;
}

table.contentteiler3 tr td {
	width: 34%;
	overflow: hidden;
}

table.contentteiler3 tr td.left {
	padding-right: 5px;
}

table.contentteiler3 tr td.middle {
	padding-left: 5px;
	padding-right: 5px;
}

table.contentteiler3 tr td.right {
	padding-left: 5px;
}

/**
 * special adjustment for the
 * 3 columns table content
 */

table.contentteiler3 tr td div.csc-header {
	width: 141px;
	overflow: hidden;
	display: block;
}

table.contentteiler3 tr td.left div.csc-textpic-left {
	display: block;
	float: left;
	width: 124px;
	margin-right: 11px;
	overflow: hidden;
}

table.contentteiler3 tr td.middle div.csc-textpic-left {
	display: block;
	float: left;
	width: 124px;
	margin-right: 12px;
	margin-left: 12px;
	overflow: hidden;
}

*html table.contentteiler3 tr td.middle div.csc-textpic-left {
	margin-left: 1px;
}

table.contentteiler3 tr td.right div.csc-textpic-left {
	display: block;
	float: right;
	width: 124px;
	margin-left: 11px;
	overflow: hidden;
}

*+html table.contentteiler3 tr td.right div.csc-textpic-left {
	margin-left: 6px;
}

*html table.contentteiler3 tr td.right div.csc-textpic-left {
	margin-left: 1px;
}

table.contentteiler3 tr td.right div.csc-textpic-left div.csc-textpic-text {
	width: 124px;
}

/**
 * Caption gap to the image
 */

table.contentteiler3 tr td div.csc-textpic-left div.csc-textpic-text {
	padding-top: 2px;
}
*+html table.contentteiler3 tr td div.csc-textpic-left div.csc-textpic-text {
	padding-top: 7px;
}

/**
 * Contentteiler - 4 columns table
 */

table.contentteiler4 {
	display: block;
}

table.contentteiler4 tr td {
	width: 25%;
	overflow: hidden;
}

table.contentteiler4 tr td.left {
	padding-right: 5px;
}

table.contentteiler4 tr td.middle {
	padding-left: 5px;
	padding-right: 5px;
}

table.contentteiler4 tr td.right {
	padding-left: 5px;
}

/**
 * special adjustment for the
 * 4 columns table content
 */

table.contentteiler4 tr td div.csc-header {
	width: 104px;
	overflow: hidden;
	display: block;
}

table.contentteiler4 tr td.left div.csc-textpic-left {
	display: block;
	float: left;
	width: 85px;
	margin-right: 11px;
	overflow: hidden;
}

table.contentteiler4 tr td.middle div.csc-textpic-left {
	display: block;
	float: left;
	width: 85px;
	margin-right: 12px;
	margin-left: 12px;
	overflow: hidden;
}

*html table.contentteiler4 tr td.middle div.csc-textpic-left {
	margin-left: 1px;
}

table.contentteiler4 tr td.right div.csc-textpic-left {
	display: block;
	float: right;
	width: 85px;
	margin-left: 11px;
	overflow: hidden;
}

*+html table.contentteiler4 tr td.right div.csc-textpic-left {
	margin-left: 6px;
}

*html table.contentteiler4 tr td.right div.csc-textpic-left {
	margin-left: 1px;
}

table.contentteiler4 tr td.right div.csc-textpic-left div.csc-textpic-text {
	width: 85px;

}

/**
 * Caption gap to the image
 */

table.contentteiler4 tr td div.csc-textpic-left div.csc-textpic-text {
	padding-top: 2px;
}

*+html table.contentteiler4 tr td div.csc-textpic-left div.csc-textpic-text {
	padding-top: 7px;
}
