/**
 * footer_menu.css
 * --- Gosign media. ---
 * version 1.0
 * (c) Copyright 2011 Gosign media. All Rights Reserved.
 * 2011-09-12
 */

#footer {
	background: #F8EEDE;
	width: 100%;
	position: relative;
	border: 3px solid grey;
	border-color: #660000;
}

#footer div {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

#footer_content ul {
	font-size: 9px;
	padding-top: 5px;
	list-style: none;
	text-align: center;
	color: #231c10;
	margin: 0px;
	padding: 0px;
}

#footer_content ul li {
	float: left;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5px;
}

#footer_content ul li a {
	color: #231c10;
	text-decoration: none;
	font-size: 9px;
}

#footer_content div ul li ul {
	float: none;
	display: block;
}

#footer_content ul li ul li {
	float: none;
	text-transform: none;
	line-height: 10px;
	padding-top: 0px;
}

.copyright {
	text-align: center;
}