/**
 * print.css
 * --- Gosign media. ---
 * version 1.0
 * (c) Copyright 2011 Gosign media. All Rights Reserved.
 * 2011-09-12
 */

/**
 * Include hier all changes for the printview and for the print.
 * All the previous css formatting will be overwritten by this css-script
 */

body {
	width:544px;
}

#left_column,
#top_menu,
#header,
#pdf_button,
#left_column,
#right_column {
	display: none;
}

#middle_column,
#content_column {
	margin: 0px !important;
}